<p>Here are the things you can do:</p>
<ul>
  <li>[something every admin can do]</li>
 
  <li>[something business people shouldn't mess with, maybe a link to edit content?]</li>

  <li>[another thing any admin can do, maybe a report?]</li>
</ul>